// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/* Give the page it's background color */

html, body {
	background: $beige;
	color: $text-color;
}

.desktop_show {
	@include respond-above(sm) {
		display: inline;
	}
	@include respond-below(sm) {
		display: none;
	}
}

.mobile_show {
	@include respond-above(sm) {
		display: none;
	}
	@include respond-below(sm) {
		display: inline;
	}
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

/**
 *
 * Restaurant Info Needs to be Hidden Always
 *
 */

 .rest-info {
 	display: none;
 }

