// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button, a.btn {
	padding: 15px 30px;
	font-size: 1.3rem;
	border: 0;
	border-radius: 4px;
	background: $mid-grey;
	font-weight: 600;
	color: $text-color;

	&:hover, &:active, &:focus {
		cursor: pointer;
		background: $light-grey;
		border: 0;
		box-shadow: 0; 
		outline: 0;
	}

	&.selected {
		background: $orange;

		&:hover {
			background: lighten($orange, 10%);
		}
	}

	&.random {
		font-size: 1rem;
		padding: 18px 32px;
		background: $orange;

		&:hover {
			background: lighten($orange, 10%);
		}
	}
}

