@include respond-below(sm) {
	.swal2-popup .swal2-title {
		font-size: 1.3rem !important;
		margin-bottom: 0 !important;
	}
}

.swal2-popup .swal2-title {
	margin-bottom: 0 !important;
}


p.location {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: .95rem;
}

section.menu__course {
	// font-family: $text-font-stack;
	padding: 0 10px;
	h2 {
		font-size: 1.3rem;
		text-align: left;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	h3 {
		font-size: 1.1rem;
		text-align: left;
		margin-bottom: 10px;
	}
	p {
		text-align: left;
		font-size: 1rem;
		margin-top: 2px;
	}
	ul {
		text-align: left;
		margin-top: 0px;
		li {
			margin-bottom: 7px;
			&:before {
				content: 'or ';
				font-style: italic;
				font-size: .95rem;
				padding-right: 3px; 
				color: darken($mid-grey, 30%);
			}
			&:first-of-type {
				&:before {
					content: '';
					padding-right: 0;
				}
			}
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	@include respond-below(sm) {
		h2 {
			font-size: 1.1rem;
		}
		h3 {
			font-size: 1.1rem;
		}
		ul {
			font-size: .95rem;
		}
		p {
			font-size: .9rem;
		}
	}
}