// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
	background: $dark-beige;
	width: 100%;
	display: block;
	padding: 40px 0;
	text-align: center;

	p {
		color: $text-color;
		font-size: 1.4rem;
		font-weight: 600;
		margin-top: 0;

		&:first-of-type {
			margin-bottom: 0;
		}
	}

	img {
		max-width: 180px;
		display: block;
		margin: 0 auto;
	}

	p.sponsor {
		margin: 0;
		padding: 10px;
		font-size: .9rem;
	}

	p.website {
		@extend p.sponsor;
		a {
			color: $text-color;
			text-decoration: underline;
		}
	}

	@include respond-below(sm) {
		p {
			font-size: 1.1rem;
		}
	}
}