// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	height: 180px;
	width: 100%;
	background: asset('../', '/img', '/blurry_bg_2020.png');
	background-size: cover;
	text-align: center;
	z-index: 99;

	img {
		height: 220px;
		padding: 10px 40px;
		z-index: 99;
		position: relative;
	}

	a {
		font-family: $header-font-stack;
		text-transform: uppercase;
		position: relative;
		top: -120px;
		font-size: 2em;
		color: white;
		letter-spacing: 3px;
		text-shadow: -2px 4px 7px rgba(0,0,0,.3);
		transition: all .1s linear;


		&:before {
		    content:'';
		    position:absolute;
		    bottom:-8px;
		    left:0;
		    width:100%;
		    height:6px;
		    background:transparent;
			transition: all .1s linear;
		}

		&.active {
			&:before {
				background: white;
			    box-shadow:-2px 4px 7px rgba(0,0,0,.3);
			}
		}
		
		&:hover {
			text-decoration: none;
			color: $orange;
			&:before {
			    background:$orange;
			    box-shadow:-2px 4px 7px rgba(0,0,0,.3);
			}
		}
	}
	@include respond-above(sm) {
		img {
			transition: all 1s linear;
			animation-name: grow_header;
			animation-duration: 1s;
		}
	}
	@include respond-below(sm) {
		display: block;
		height: 220px;
		padding: 0; 
		border-bottom: 30px solid white;

		img {
			height: 200px;
			max-width: 96%;
			position: relative;
			display: block;
			padding: 0 0 40px 0;
			margin: 0 auto;
		}

		a {
			top: 0;
			font-size: 1em;
			margin-right: 20px;
			&:last-of-type {
				margin-right: 0;
			}
		}

		.mobile-bg {
			display: block;
			background: $dark-beige;
			padding: 10px 0;
			margin-bottom: 12px;
			top: 0;	
		}
	}
}
