//

.great-white-box {
	@extend .container;
	margin: 40px auto;
	padding: 40px 60px;
	background: white;
	border-radius: 8px;
	overflow: auto;
	animation-name: appear;
	animation-duration: 1s;
	animation-delay: .5s;
	animation-fill-mode: backwards;

	h1 {
		line-height: .9;
		margin-bottom: 5px;
	}
	h1, p {
		text-align: center;
		padding: 0;
		margin: 0;
	}

	p {
		margin-bottom: 20px;
		font-size: 1.1rem;
	}

	@include respond-below(sm) {
		margin: 0 auto;
		border-radius: 0;
		padding: 20px;
	}
	
}


.great-white-box .title-container {
	float: left;

	@include respond-below(sm) {
		float: none;
	}
}

.great-white-box .buttons {
	overflow: auto;
	float: right;

	.left {
		float: left;
	}
	.right {
		float: right;
	}

	.left, .right {
		float: none;
		margin: 0 auto 10px auto;
		text-align: center;

		button {
			padding: 10px 30px;

			&.random {
				padding: 8px 13px;
			}
		}
	}

	@include respond-below(sm) {
		float: none;
	}
	@include respond-below(xs) {
		button {
			margin-bottom: 5px;
		}
	}
}


.great-white-box .menus {
	margin-top: 20px;
	text-align: center;
	line-height: 2;
	font-size: 1.5rem;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto; 

	a {
		color: darken($mid-grey, 40%);
		text-decoration: none;
		transition: all .1s linear;

		&:hover {
			color: $orange;
			transition: all .1s linear;
		}
	}

	.rest-holder:after {
		content: '○';
		padding-left: 5px;
		color: darken($mid-grey, 50%);
	}

	.rest-holder:hover {
		&:after {
			color: $orange;
		}
	}
	.rest-holder:last-of-type {
		&:after {
			content: '';
		}
	}


	@include respond-below(sm) {
		font-size: 1.3rem;
		margin-top: 10px;
	}
}
