article.blog, .blog-listing {
	.single__author {
		text-align: center;
	    &.left {
	    	text-align: left;
	    }
	}
	h2.center {
		text-align: center;
	}
	h1 {
	    &.left {
	    	text-align: left;
	    }
	}
	p {
		text-align: left;
	    line-height: 1.5;
	    max-width: 800px;
	    font-size: 1.1rem;
	    margin: 20px auto;
	}

	img {
		display: block;
	    height: auto;
	    max-width: 100%;
	    margin: 0 auto;
	}

	ul, ol {
		margin-left: 30px;
		@include respond-below(sm) {
			margin-left: 0;
		}
	}
}

.blog-listing {
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 10px;

    h2 > a {
    	color: $text-color;

    	&:hover {
    		color: $orange;
    	}
    }
}

.blog-listing p {
    line-height: 1.5;
    margin: 10px 0 30px 0;
}

.blog-listing .read-more {
    text-align: right;
}